<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Actividad</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input type="text" [(ngModel)]="activity.description" name="description" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Costo / Ingreso</ion-label>
        <ion-input type="number" [(ngModel)]="activity.amount" name="amount" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Agregar</ion-button>
    </form>
  </div>
</ion-content>
