.login-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px; // Espacio debajo de la imagen
  }
  .login-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espacio debajo de la imagen */
    max-width: 400px; /* Limita el ancho máximo de la imagen en pantallas pequeñas */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centra la imagen horizontalmente */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  ion-item {
    width: 100%;
    max-width: 400px; /* Limita el ancho del formulario en pantallas pequeñas */
  }
  
  ion-button {
    margin-top: 20px;
    width: 100%;
    max-width: 400px; /* Ajusta el botón para pantallas más grandes */
  }
  
  @media (min-width: 768px) {
    .login-image {
      max-width: 500px; /* Aumenta el ancho máximo de la imagen en pantallas medianas */
    }
  
    ion-item, ion-button {
      max-width: 500px; /* Aumenta el ancho del formulario en pantallas medianas */
    }
  }
  
  @media (min-width: 1200px) {
    .login-image {
      max-width: 600px; /* Aumenta el ancho máximo de la imagen en pantallas grandes */
    }
  
    ion-item, ion-button {
      max-width: 600px; /* Aumenta el ancho del formulario en pantallas grandes */
    }
  }
  