<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Transacción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="description" name="description" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Monto</ion-label>
      <ion-input type="number" [(ngModel)]="amount" name="amount" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="type" name="type">
        <ion-select-option value="ingreso">Ingreso</ion-select-option>
        <ion-select-option value="egreso">Egreso</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
</ion-content>
