<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Bienvenido a Evaluacion1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Monitorea tu actividad financiera y hábitos saludables.</p>
        <ion-button expand="block" routerLink="/activity">Ver Actividad</ion-button>
        <ion-button expand="block" routerLink="/settings">Configuración</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="tip-card">
      <ion-card-header>
        <ion-card-title>Consejo del Día</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>¡Ahorra al menos el 10% de tu dinero para tus metas futuras!</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
